{
    "tabWidth": 2,
    "useTabs": false,
    "bracketSpacing": true,
    "singleQuote": true,
    "endOfLine": "lf",
    "trailingComma": "all",
    "arrowParens": "always",
    "overrides": [
        {
            "files": ["*.ts"],
            "options": {
                "parser": "typescript"
            }
        },
        {
            "files": ["*.tsx"],
            "options": {
                "parser": "typescript",
                "jsxBracketSameLine": false,
                "jsxSingleQuote": false
            }
        },
        {
            "files": ["*.json"],
            "options": {
                "parser": "json"
            }
        }
    ]
}
