.stageItem {
    position: relative;
    box-sizing: border-box;

    &.coreStage {
        & > .name {
            // font-weight: bold;
        }
    }

    .dropZone {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    .nestDropZone {
        position: absolute;
        right: 44px;
        padding: 2px;
        top: 4px;
        width: 36px;
        height: 22px;
        background: #fff;
        // z-index: 2;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border: 1px solid transparent;

        &:hover {
            background-color: red;
        }

        svg {
            width: 100%;
            height: 100%;
            pointer-events: none;
        }
    }

    .name {
        font-size: 12px;

        display: flex;
        padding-left: 20px;
        position: relative;
        background-color: #f5f5f6;
        box-shadow: inset 0px -1px 0px #ebedee;

        .additionalInfo {
            min-height: 30px;
            height: 30px;
            display: none;

            &.additionalInfoOpen {
                display: flex;
            }

            .data {
                width: 100px;
                min-width: 100px;
                border-left: 1px solid #ebedee;
                padding: 0 12px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .nameWrap {
            display: flex;
            align-items: center;
            min-height: 30px;
            height: 30px;
            flex-shrink: 0;
            margin-right: auto;

            .nameIcon {
                margin-right: 2px;
                display: flex;
                align-items: center;
            }

            .toggleStageCollapse {
                display: flex;
                align-items: center;
                margin-right: 10px;
                cursor: pointer;
                border-radius: 5px;
                width: 18px;
                height: 18px;
                z-index: 3;

                &.collapsed {
                    svg {
                        transform: rotate(-90deg);
                    }
                }

                svg {
                    width: 100%;
                    height: 100%;
                }

                &:hover {
                    background-color: #aeb5bb;
                    color: #fff;
                }
            }
        }

        // duplicates
        .funcs {
            width: 40px;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #aeb5bb;
            transition: background-color 0.3 ease;
            cursor: pointer;
            border-left: 1px solid #ebedee;
            position: relative;
            z-index: 2;

            // &:hover {
            //     background-color: #ebedee;
            //     color: #fff;
            // }
        }

        &:before {
            content: '';
            position: absolute;
            top: 0%;
            right: 100%;
            height: 100%;
            width: 100%;
            background-color: #f5f5f6;
            box-shadow: inset 0px -1px 0px #ebedee;
        }

        &:hover {
            background-color: #eee;

            &:before {
                content: '';
                position: absolute;
                top: 0%;
                right: 100%;
                height: 100%;
                width: 100%;
                background-color: #eee;
            }
        }
    }
    .body {
        padding-left: 20px;
        min-height: 30px;
        // background-color: #EBEDEE;
    }

    .task {
        color: #aaa;
    }
}
