.main {
    h1 {
        text-align: center;
    }

    * {
        box-sizing: border-box;
    }

    .flex {
        display: flex;
        position: relative;
        justify-content: space-between;
        overflow-x: hidden;
        // border-top: 1px solid #ddd;
        // height: 100vh;
        overflow: auto;

        ::-webkit-scrollbar {
            display: none;
        }
    }

    .draggableContainer {
        display: flex;
        align-items: center;
    }
}
