.main {
    h1 {
        text-align: center;
    }

    * {
        box-sizing: border-box;
    }

    .head {
        // margin-left: 200px;
        display: flex;
        position: sticky;
        top: 0;
        z-index: 3;
        background-color: #fff;

        .funcs {
            flex: 0 0 200px;
        }

        .dates {
            border-left: 1px solid #aaa;
        }
    }

    .flex {
        display: flex;
        position: relative;
        justify-content: space-between;
        overflow-x: hidden;
        border-top: 1px solid #ddd;
        // height: 100vh;

        // .grid {
        //     width: calc(100% - 22px);
        //     height: calc(100% - 22px);
        //     overflow: auto;
        //     // margin: 10px;
        //     border: 1px solid grey;
        // }

        // .innerGridContainer {
        //     width: 3000px;
        //     height: 3000px;
        //     overflow: hidden;
        //     background-color: #eaeaea;
        // }

        .grid {
            overflow-x: scroll;
            background-color: #eee;
        }

        ::-webkit-scrollbar {
            display: none;
        }
    }

    .draggableContainer {
        display: flex;
        align-items: center;
    }
}
