.main {
    h1 {
        text-align: center;
    }

    * {
        box-sizing: border-box;
    }

    .head {
        // margin-left: 200px;
        display: flex;
        position: sticky;
        top: 0;
        z-index: 3;
        background-color: #fff;

        .funcs {
            flex: 0 0 200px;
        }

        .dates {
            border-left: 1px solid #aaa;
        }
    }

    .flex {
        display: flex;
        position: relative;
        justify-content: space-between;
        overflow-x: hidden;
        border-top: 1px solid #ddd;

        .grid {
            overflow-x: scroll;
            background-color: #eaeaea;
        }

        ::-webkit-scrollbar {
            display: none;
        }
    }

    .draggableContainer {
        display: flex;
        align-items: center;
    }
}
